<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Soal</title>
    <link rel="stylesheet" href='/css/styleformbuatsoal.css'>
</head>
<body>
    <form class="formbuatsoal" action='/inputsoal' method="get" id="form2">
    <div class="buatsoal">
        <h1 class="up-buatsoal">Buat Soal</h1>
        <h4>Bagaimana soal akan dibuat ?</h4>
        <button class="manual" type="submit">Manual</button>
        
        </div>
        </form>
    <form class="formotomatis" action="/upload" method="get">
        <button class="otomatis" type="submit">Otomatis</button>
    </form>
</body>
</html>