<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buat Soal</title>
    <link rel="stylesheet" href='/css/stylebuatujian.css'>

</head>
<body>
    <form action='/pilihmanual' method="get" id="form2">
    <div class="buatujian">
        <h1 class=up-buatujian>Buat Ujian</h1>
        <h4>Bagaimana Soal Ujian akan dipilih ?</h4>
        <button class="manual" type="submit">Manual</button>
        </div>
        </form>
    <form class="formotomatis" action="/proporsisoal" method="get">
        <button class="otomatis" type="submit">Otomatis</button>
    </form>
</body>
</html>